<form>
	<input
		type="hidden"
		name="authenticity_token"
		value="<%= Trellino.authToken %>"
	>
	
	<input
		type="text"
		id="card_<%= prop %>"
		name="card[<%= prop %>]"
    value="<%= card.get(prop) %>"
	>

	<input type="submit" class="btn" value="&#10003">
	<button class="btn" id="cancel">X</button>
</form>
