<form>
	<input
		type="hidden"
		name="authenticity_token"
		value="<%= Trellino.authToken %>"
	>
	
	<input
		type="text"
		id="card_<%= prop %>"
		name="card[<%= prop %>]"
		value="<%= card.get(prop) %>"
	>

	<input type="submit" value="Update">
	<button id="cancel">Cancel</button>
</form>
