<ul>
  <% cards.each(function (card) { %>
    <li>
		<%= card.escape('title') %>
		<button class="delete" data-id="<%= card.id %>">Delete</button>
    </li>
  <% }); %>
	<li>
	<button class="new">Add a Card</button>
	</li>
</ul>