<ul>
  <% cards.each(function (card) { %>
    <li>
      <span class="card_entry" data-id="<%= card.id %>">
    		<%= card.escape('title') %>
      </span>
  		<button class="deleteCard" data-id="<%= card.id %>">Delete</button>
    </li>
  <% }); %>
	<li>
  	<button class="addCard">Add a Card</button>
	</li>
</ul>