<form>
	<input
		type="hidden"
		name="authenticity_token"
		value="<%= Trellino.authToken %>"
	>
	
	<input
		type="hidden"
		id="card_list_id"
		name="card[list_id]"
		value="<%= listID %>"
	>
	
	<input
		type="hidden"
		id="card_rank"
		name="card[rank]"
		value="<%= rank %>"
	>

	<label for="card_title">Title</label>
	<input
		type="text"
		id="card_title"
		name="card[title]"
		value="<%= card.title %>"
	>

	<input type="submit" value="Add">
	<button id="cancel">Cancel</button>
</form>
