<form>
	<input
		type="hidden"
		name="authenticity_token"
		value="<%= Trellino.authToken %>"
	>
	
	<input
		type="hidden"
		id="card_list_id"
		name="card[list_id]"
		value="<%= listID %>"
	>
	
	<input
		type="hidden"
		id="card_rank"
		name="card[rank]"
		value="<%= rank %>"
	>

	<input
		type="text"
		id="card_title"
		name="card[title]"
		value="Title"
	>
  <br>
	<input class="btn" type="submit" value="&#10003">
	<button class="cancel btn">X</button>
</form>
