<form>
	<input
		type="hidden"
		name="authenticity_token"
		value="<%= Trellino.authToken %>"
	>
		
	<select name="new_user_email">
  	<% _(elegibleMembers).each(function (member) { %>
      
      <% var userLabel = (member.id === Trellino.myID ? "me" : member.get('email')); %>
      <option value="<%= member.get('email') %>"><%= userLabel %></option>
    <% }) %>
  </select>

	<input type="submit" value="&#10003">
	<button class="cancel">X</button>
</form>
