<div class="cardDetail">
  <span class="cardProp" data-id="title">
    <h3><%= card.escape('title') %></h3>
  </span>
    <ul>
    <span class="cardProp" data-id="description">
      <li>
      <%= card.escape('description') || "No description" %>
      </li>
    </span>
    </ul>
  <button class="closeCard btn">X</a>
</div>