<div class="overlay">
<span class="cardProp" data-id="title">
  <h3><%= card.escape('title') %></h3>
</span>
  <ul>
  </span>
  <span class="cardProp" data-id="description">
    <li>
    <%= card.escape('description') %>
    </li>
  </span>
  </ul>

  <button class="closeCard">Close</a>
</div>