<span>

<h3>My Cards</h3>
<ul class="user_card_list">

  <li class="placeholder">
  You have no cards assigned.
  </li>

  <% cards.each(function (card) { %>
    <li
      class="card_entry"
      data-id="<%= card.id %>"
    >
      <span
        class="card_entry"
        data-id="<%= card.id %>"
      >
    		<%= card.escape('title') %>
      </span>
  		<button class="deleteCard btn hidden" data-id="<%= card.id %>">X</button>
    </li>
  <% }); %>
</ul>
</span>
