<span>

<h3>My Cards</h3>

<div class="row">

<div class="span12 white_area">
<ul class="user_card_list">

  <li class="placeholder">
  You have no cards assigned.
  </li>

  <% cards.each(function (card) { %>
    <li
      class="card_entry"
      data-id="<%= card.id %>"
    >
      <span
        class="card_entry"
        data-id="<%= card.id %>"
      >
    		<%= card.escape('title') %>
      </span>
  		<span class="deleteCard icon-trash hidden" data-id="<%= card.id %>" ></span>
    </li>
  <% }); %>
</ul>
</div>
</div>

</span>

<a href="#/">Back to Boards</a>