<div class="row-fluid">
  <div class="span4 offset4">
    <h1>Your Boards</h1>
  </div>
</div>

<div class="row">
  <div class="boards_index white_area span12">
    <ul>
      <% boards.each(function (board) { %>
  
    		<a href="#boards/<%= board.id %>">
          <li class="board_entry">
            <%= board.escape('title') %>
          </li>
        </a>
      <% }); %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span12">
    <a href="#boards/new">New Board</a>
  </div>
</div>