<h1>Your Boards</h1>

<ul>
  <% boards.each(function (board) { %>
    <li class="board_entry">
		<a href="#boards/<%= board.id %>"><%= board.escape('title') %></a>
		<button class="delete btn" data-id="<%= board.id %>">X</button>
    </li>
  <% }); %>
</ul>


<a href="#boards/new">Add a Board</a>