<h1>Your Boards</h1>

<ul>
  <% boards.each(function (board) { %>
    
		<a href="#boards/<%= board.id %>">
      <li class="board_entry">
        <%= board.escape('title') %>
      </li>
    </a>
  <% }); %>
</ul>


<button class="newBoard btn"><a href="#boards/new">Add a Board</a></button>