<form action="api/boards/<%= board.id %>" method="PATCH" accept-charset="utf-8">

  <input type="text" name="params[newMemberEmail]" value="email" id="user_email">

  <input class='submit-member' type="submit" value="Add">
  <button class='cancel-member-search'>X</button>
</form>