<div class="row">
<div class="white_area span12">
  <div class="row-fluid">
  <div class="span4 offset4">
    <h1>New Board</h1>
  </div>
  </div>


  <div class="row-fluid">
  <div class="span4 offset4">
    <form>
    	<input
    		type="hidden"
    		name="authenticity_token"
    		value="<%= Trellino.authToken %>"
    	>

    	<input
    		id="board_title"
    		name="board[title]"
    		value="<%= board.title %>"
        type="text"
        placeholder="Title"
    	>

    	<input type="submit" value="Create">
    </form>
  </div>
  </div>
</div>
</div>

<div class="row-fluid">
  <div class="span12">
    <a href="#">Back to Boards</a>
  </div>
</div>