<h1><%= board.escape('title') %></h1>
<ul class='lists'>
  <!-- render items -->
</ul>

<div class='new-list-form'>
  <button class='new-list-button'>Add a New List</button>
</div>
<button class='boards-index-link'>Back to Boards</button>