<h1><%= board.escape('title') %></h1>

<ul>
<% board.lists.each(function (list) { %>
  <li class="list_entry" id="list_<%= list.id %>">
    <span class="list_entry" data-id="<%= list.id %>">
      <%= list.escape('title') %>
    </span>
  </li>
<% }) %>
</ul>

<div class="add_button">
<button class="newList btn">Add a List</button>
</div>



<a href="#" class="back_link">Back to Boards</a>