<h1><%= board.escape('title') %></h1>

<ul>
<% board.lists.each(function (list) { %>
  <li id="list_<%= list.id %>">
    <%= list.escape('title') %>
  </li>
<% }) %>
<li>
<button class="newList">Add a List</button>
</ul>



<a href="#">Back to Boards</a>