<h1>Sign Up</h1>
<form action="<%= users_url %>" method="POST">
  <label>
    Email
    <input id="email" type="text" name="user[email]">
  </label>
  <label>
    Password
    <input id="password" type="password" name="user[password]">
  </label>
	<input type="submit" class="btn" value="Sign Up">
</form>

<a href="<%= new_session_url %>">Back to Login</a>
