<form>
	<input
		type="hidden"
		name="authenticity_token"
		value="<%= Trellino.authToken %>"
	>
		
	<input
		type="text"
		id="board_member"
		name="new_member_email"
		value="email"
	>

	<input type="submit"  class="btn" value="&#10003">
	<button class="cancel btn">X</button>
</form>
