/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0;
  box-sizing: border-box;
  padding: 8px;
}

.hidden {
	display: none;
}

.overlay {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6)
}

li.list_entry {
  float: left;
}

a.back_link {
  clear: both;
  display: block;
}

.card {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 255);
    position: fixed;
    top: 50%;
    left: 50%;
}

li.card_entry {
  border: 1px solid black;
}