<form>
	<input
		type="hidden"
		name="authenticity_token"
		value="<%= Trellino.authToken %>"
	>

	<input
		type="text"
		id="list_title"
		name="list[title]"
		value="<%= list.get('title') %>"
	>

	<input type="submit" value="&#10003">
	<button class="cancel">X</button>
</form>
