<form>
	<input
		type="hidden"
		name="authenticity_token"
		value="<%= Trellino.authToken %>"
	>
	
	<input
		type="hidden"
		id="list_board_id"
		name="list[board_id]"
		value="<%= boardID %>"
	>
	
	<input
		type="hidden"
		id="list_rank"
		name="list[rank]"
		value="<%= rank %>"
	>

	<label for="list_title">Title</label>
	<input
		type="text"
		id="list_title"
		name="list[title]"
		value="<%= list.title %>"
	>

	<input type="submit" class="btn" value="&#10003">
	<button class="cancel btn">X</button>
</form>
