<!DOCTYPE html>
<html>
<head>
  <title>Trellino</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <span class="title">Trellino</span>
  <div class="container">
    <header class="row">
      <div class="span4">
        <nav class="navbar">
          <div class="navbar-inner">
            <ul class="nav">
              <li><a href="#">My Boards</a></li>
              <li><a href="#/cards">My Cards</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
  </div>
  <%= yield %>

<div class="overlay hidden">
</div>

</body>
</html>
